.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 93px 15px;
    background-color: rgba(47, 48, 58, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
}

.modal {
    position: relative;
    padding: 40px;
    background: var(--primary-light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (min-width: 480px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
    }
}


body.modal-open {
    overflow: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--primary-light-color);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.form-name {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.modal-input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--accent-color);
    }
}

.modal-label-text {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.input-wrap {
    position: relative;
}

.form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;

    width: 18px;
    height: 18px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-input:focus+& {
        fill: var(--accent-color);
    }
}

.modal-textarea {
    width: 100%;
    min-height: 120px;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--accent-color);
    }
    
    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 15px;
    margin-right: 8px;

    border: 2px solid #111319;
    border-radius: 2px;

    fill: transparent;

    .modal-checkbox:checked+& {
        border-color: transparent;
        background-color: var(--accent-color);
        fill: var(--primary-light-color);
    }
    
    .modal-checkbox:focus+& {
            border-color: transparent;
            background-color: var(--accent-color);
    }
}

.modal-checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.modal-checkbox-text {
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    @media screen and (max-width: 1200px) {
        font-size: 12px;
        line-height: 1.17;
    }
    
    @media screen and (min-width: 1200px) {
        line-height: 1.71;
    }
}

.privacy-link {
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.form-btn {
    min-width: 200px;
    min-height: 50px;
    border: none;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--primary-light-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        background-color: var(--hero-btm-active-color);
    }
}

.btn-wrap {
    display: flex;
    justify-content: center;
}