:root {
    --accent-color: #2196f3;
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --black-logo-color: #000000;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --primary-light-color: #ffffff;
    --secondary-light-color: #f5f4fa;
    --bcg-hero-footer-color: #2f303a;
    --border-header-color: #ececec;
    --border-portfolio-color: #eeeeee;
    --hero-btm-active-color: #188ce8;
    --icon-color: #afb1b8;

    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
}