.work-examples {
    padding-top: 0;

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        position: relative;
        flex-basis: calc((100% - 60px) / 3);
    }

    &__label {
        position: absolute;
        height: 24%;
        width: 100%;
        bottom: 0;
        left: 0;

        font-weight: 700;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: var(--primary-light-color);
        background: rgba(47, 48, 58, 0.8);
        padding-top: 27px;
        padding-left: 27px;
        cursor: default;
    }
}